body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #42435f;
    margin: 2;
    padding: 2;
}

.container {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    background-color: #2b2b2b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #ffffff;
}

a {
    color: #ffffff;
}